/* ar */
#wajeez_latest_posts ul li a{text-decoration: none;}
#wajeez_support_box{width: 286px;}
#wajeezotd-facebook{width: 287px;height: 61px;}
#wajeez_donate_box .wajeez_box_content{padding-top: 4px;}
.wajeezotd-settings{float: right;}
#wajeez_support_box{float: left;}
.wajeez_box_content form label{padding-right: 4px;}